body {
	background-color: orange;
}

h1 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 45px;
	color: black;
	text-align: center;
	margin-bottom: 90px;
}

h4 {
	margin-top: 70px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 20px;
	color: black;
	text-align: center;
	margin-bottom: -20px;
}

button{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	
	display: inline-block;
	padding: 15px 25px;
	
	font-family: Verdana;
	font-weight: bold;
	font-size: 20px;
	color: black;
	text-align: center;
	
	background-color: #4CAF50;
	
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

footer{
	position: fixed;
	bottom: 5px;
}