@charset "UTF-8";
/* CSS Document */



header {
	font-family: "Poppins", sans-serif;
}

.topnav {
	overflow: hidden;
 	background-color: #333;
}

.topnav a {
  	float: left;
	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}

.topnav a:hover{
	color: dodgerblue;
}

.topnav-right{
	float:right;
}

body {
	margin: 0px;
}
