@charset "UTF-8";
/* CSS Document */



header {
	font-family: "Poppins", sans-serif;
}

body {
	margin: 0px;
	background-color: silver;
}

.topnav {
	overflow: hidden;
 	background-color: #333;
	position: fixed;
 	top: 0;
  	width: 100%;
}

.topnav a {
  	float: left;
	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}

.topnav a:hover{
	color: dodgerblue;
}

.topnav-right{
	float:right;
}

.profile-picture {
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 25%;
	border-radius: 50%;
	border: 5px solid white;
}